/*
links
*/
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(43, 43, 43, 0.4) #d9d9d9;
}

*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: transparent;
}

*::-webkit-scrollbar-track:active {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(43, 43, 43, 0.4);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(43, 43, 43, 0.4);
}

*::-webkit-scrollbar-thumb:active {
  background-color: rgb(43, 43, 43, 0.4);
}
